<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curevengers.petit_cure.Dao.dpBoardMapper">
    <select id="selectOne">
        select * from dpboard where no = #{no}
    </select>
    <select id="selectAll">
        select * from dpboard
    </select>
    <select id="countAll">
        select count(*) from dpboard
    </select>
    <insert id="insert">
        insert into dpboard values (nextval(dpboardno),#{id},${password},#{title},#{content},default)
    </insert>
    <update id="updateGoodUp">
        update dpboard set good=good + 1 where no = #{no}
    </update>
    <update id="updateGoodDown">
        update dpboard set good=good - 1 where no = #{no}
    </update>
    <select id="selectdpComment">
        select * from dpcomment where dpboard_no = #{no}
    </select>
    <insert id="adddpComment">
        insert into dpcomment values (#{id}, #{content}, #{dpboard_no})
    </insert>
</mapper>