<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curevengers.petit_cure.Dao.dpBoardMapper">
    <select id="selectOne">
        select * from dpboard where no = #{no}
    </select>

    <select id="selectAll">
        select * from dpboard order by good desc LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <select id="countAll">
        select count(*) from dpboard
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="no">
        insert into dpboard values (nextval(dpboardno),#{id},#{password},#{title},#{content},default,default,default)
    </insert>

<!--    우울증게시판 좋아요 구현 -->
    <update id="updateGoodUp">
        update dpboard set good=good + 1 where no = #{no}
    </update>

    <insert id="addLike">
        insert into dplike values (#{id}, #{dpboard_no}, default)
    </insert>

    <update id="updateGoodDown">
        update dpboard set good=good - 1 where no = #{no}
    </update>

    <delete id="deleteLike">
        delete from dplike where id=#{id} and dpboard_no=#{dpboard_no}
    </delete>

    <select id="dpselectLike">
        select * from dplike where id=#{id} and dpboard_no=#{dpboard_no}
    </select>
<!--    좋아요 구현 끝 -->

    <select id="selectdpComment">
        select * from dpcomment where dpboard_no = #{no}
    </select>

    <insert id="adddpComment" parameterType="curevengers.petit_cure.Dto.dpcommentDTO">
        insert into dpcomment (id, content, dpboard_no)
        values (#{id}, #{content}, #{dpboard_no})
    </insert>

    <update id="updatedpBoard">
        update dpboard set password = #{password}, title = #{title}, content = #{content} where no = #{no}
    </update>

    <delete id="deletedpBoard">
        delete from dpboard where no = #{no}
    </delete>

    <select id="search">
        select * from dpboard where title like CONCAT('%', #{title}, '%') order by date desc
    </select>

    <update id="updatedpComment">
        update dpcomment set content = #{content} where no = #{commentNo}
    </update>

    <insert id="insertDPAttach" parameterType="curevengers.petit_cure.Dto.dpboard_attachDTO">
        insert into dpboard_attach (filename, dpboard_no)
        values (#{filename}, #{dpboard_no})
    </insert>
  
    <select id="selectdpattach" parameterType="int" resultType="curevengers.petit_cure.Dto.dpboard_attachDTO">
        select filename, dpboard_no
        from dpboard_attach
        where dpboard_no=#{no}
    </select>

    <delete id="deletedpBoardComment">
        delete from dpcomment where no = #{no} and dpboard_no = #{dpboard_no}
    </delete>

    <select id="gooddpList">
        SELECT *
        FROM dpboard
        ORDER BY good DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <select id="datedpList">
        SELECT *
        FROM dpboard
        ORDER BY date DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <insert id="alertdpBoard">
        insert into alertboard (alertno, no, alert_cate, id, comment, date, write_id)
        values (nextval(alert_no),#{no},#{alert_cate},#{id},#{comment},default,#{write_id})
    </insert>

    <update id="updatedpReport" parameterType="int">
        update dpboard
        set report=report + 1
        where no = #{no}
    </update>

</mapper>