<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curevengers.petit_cure.Dao.dpBoardMapper">
    <select id="selectOne">
        select * from dpboard where no = #{no}
    </select>
    <select id="selectAll">
        select * from dpboard order by good desc LIMIT #{perPageNum} OFFSET #{startNo}
    </select>
    <select id="countAll">
        select count(*) from dpboard
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="no">
        insert into dpboard values (nextval(dpboardno),#{id},#{password},#{title},#{content},default,default,default)
    </insert>
    <update id="updateGoodUp">
        update dpboard set good=good + 1 where no = #{no}
    </update>
    <update id="updateGoodDown">
        update dpboard set good=good - 1 where no = #{no}
    </update>
    <select id="selectdpComment">
        select * from dpcomment where dpboard_no = #{no}
    </select>
    <insert id="adddpComment" parameterType="curevengers.petit_cure.Dto.dpcommentDTO">
        insert into dpcomment (id, content, dpboard_no)
        values (#{id}, #{content}, #{dpboard_no})
    </insert>
    <update id="updatedpBoard">
        update dpboard set password = #{password}, title = #{title}, content = #{content} where no = #{no}
    </update>
    <delete id="deletedpBoard">
        delete from dpboard where no = #{no}
    </delete>
    <select id="search">
        select * from dpboard where title like CONCAT('%', #{title}, '%') order by date desc
    </select>
    <insert id="insertDPAttach" parameterType="curevengers.petit_cure.Dto.dpboard_attachDTO">
        insert into dpboard_attach (filename, dpboard_no)
        values (#{filename}, #{dpboard_no})
    </insert>
    <select id="selectdpattach" parameterType="int" resultType="curevengers.petit_cure.Dto.dpboard_attachDTO">
        select filename, dpboard_no
        from dpboard_attach
        where dpboard_no=#{no}
    </select>
</mapper>