<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curevengers.petit_cure.Dao.healthCheckMapper">
    <insert id="insert" parameterType="curevengers.petit_cure.Dto.healthCheckDTO">
        insert into healthcheckresult values (#{id},#{height},#{weight},#{AC},#{SBP},#{DBP},#{FBG},#{TC},#{HDL},#{TG},#{LDL},#{AST},#{ALT},default)
    </insert>
    <select id="selectOne" resultType="curevengers.petit_cure.Dto.healthCheckDTO">
        select * from healthcheckresult where id = #{id} order by date desc limit 1
    </select>
    <select id="selectAll" resultType="curevengers.petit_cure.Dto.healthCheckDTO">
        select * from healthcheckresult where id = #{id} order by date desc
    </select>
</mapper>