<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curevengers.petit_cure.Dao.UserMapper">

    <insert id="insert" parameterType="curevengers.petit_cure.Dto.testDto">
        insert into test values (#{id})
    </insert>
    <!--    // 자유게시판 글 저장-->
    <insert id="insertFreeBoard" parameterType="curevengers.petit_cure.Dto.freeBoardDTO">
        insert into freeboard (id, title, cate, content) values (#{id},#{title},#{cate},#{content})
    </insert>
    <!--    // QA게시판 글 저장-->
    <insert id="insertQABoard" parameterType="curevengers.petit_cure.Dto.QABoardDTO">
        insert into qaboard (id, title, cate, content) values (#{id},#{title},#{cate},#{content})
    </insert>

    <!-- 게시판 글 목록-->
    <select id="findAllBoards" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        select no, title, visit, date from freeboard
    </select>
    <select id="findQAAllBoards" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        select no, title, good, date from qaboard
    </select>

    <!-- 게시판 글 자세히보기-->
    <select id="selectOne" parameterType="String" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        select * from freeboard where no=#{no}
    </select>
    <select id="selectQAOne" parameterType="String" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        select * from qaboard where no=#{no}
    </select>
</mapper>