<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curevengers.petit_cure.Dao.UserMapper">

    <!--    // 자유게시판 글 저장-->
    <insert id="insertFreeBoard" parameterType="curevengers.petit_cure.Dto.freeBoardDTO" useGeneratedKeys="true" keyProperty="no">
        insert into freeboard (id, title, cate, content, password)
        values (#{id}, #{title}, #{cate}, #{content},#{password})
    </insert>
    <!--    // QA게시판 글 저장-->
    <insert id="insertQABoard" parameterType="curevengers.petit_cure.Dto.QABoardDTO" useGeneratedKeys="true" keyProperty="no">
        insert into qaboard (id, `limit`, title, cate, content)
        values (#{id}, #{limit}, #{title}, #{cate}, #{content})
    </insert>

    <!-- 게시판 글 목록-->
    <select id="findAllBoards" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        SELECT *
        FROM freeboard
        ORDER BY date DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>
    <select id="getNoticenum">
        select *
        from notice
    </select>
    <select id="getNotices">
        select *
        from notice
        ORDER BY date DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>
    <select id="noticeOne">
        select *
        from notice
        where no = #{no}
    </select>
    <insert id="noticesave">
        insert into notice values (default,#{title},#{content},default)
    </insert>


    <delete id="delnoticeOne">
        delete
        from notice
        where no = #{no}
    </delete>


    <select id="findAllBoardsVisit">
        SELECT *
        FROM freeboard
        ORDER BY visit DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>
    <select id="findQAAllBoards" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        SELECT *
        FROM qaboard
        ORDER BY date DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>
    <select id="findQAAllBoardsGood">
        select *
        from qaboard
        order by good desc
        limit #{perPageNum} offset #{startNo}
    </select>
    <select id="findalertAllBoards" resultType="curevengers.petit_cure.Dto.alertDTO">
        select write_id, count(*) as num, alert_cate, no
        from alertboard
        group by alert_cate, no
        order by count(*) desc
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <!-- 자유게시판 검색기능-->
    <select id="findSearchBoards" parameterType="String" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        select no, title, visit, date
        from freeboard
        where title like CONCAT('%', #{title}, '%')

    </select>
    <!--     QA게시판 검색기능-->
    <select id="findSearchQABoards" parameterType="String" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        select no, title, good, date
        from qaboard
        where title like CONCAT('%', #{title}, '%')
    </select>

    <!-- 게시판 글 자세히보기-->
    <select id="selectOne" parameterType="String" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        select *
        from freeboard
        where no = #{no}
    </select>
    <select id="selectQAOne" parameterType="String" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        select *
        from qaboard
        where no = #{no}
    </select>

    <!-- 조회수 구현 -->
    <update id="updateVisit" parameterType="int">
        update freeboard
        set visit=visit + 1
        where no = #{no}
    </update>

    <!-- 자유게시판 좋아요 구현 -->
    <update id="freeupdateGood" parameterType="int">
        update freeboard
        set good=good + 1
        where no = #{no}
    </update>
    <insert id="freeaddLike">
        insert into freelike values (#{id}, #{freeboard_no}, default)
    </insert>

    <!-- 자유게시판 좋아요 취소 구현 -->
    <update id="freeupdateGoodDown" parameterType="int">
        update freeboard
        set good=good - 1
        where no = #{no}
    </update>
    <delete id="freedeleteLike">
        delete from freelike where id=#{id} and freeboard_no=#{freeboard_no}
    </delete>

    <!-- 자유게시판 좋아요 조회 -->
    <select id="freeselectLike">
        select * from freelike where id=#{id} and freeboard_no=#{freeboard_no}
    </select>

    <!-- Q&A게시판 좋아요 구현 -->
    <update id="qaupdateGood" parameterType="int">
        update qaboard
        set good=good + 1
        where no = #{no}
    </update>
    <insert id="qaaddLike">
        insert into qalike values (#{id}, #{qaboard_no}, default)
    </insert>


    <!-- Q&A게시판 좋아요 취소 구현 -->
    <update id="qaupdateGoodDown" parameterType="int">
        update qaboard
        set good=good - 1
        where no = #{no}
    </update>
    <delete id="qadeleteLike">
        delete from qalike where id=#{id} and qaboard_no=#{qaboard_no}
    </delete>

    <!-- Q&A게시판 좋아요 조회 -->
    <select id="qaselectLike">
        select * from qalike where id=#{id} and qaboard_no=#{qaboard_no}
    </select>


    <select id="cntBoard" resultType="int">
        select count(*)
        from freeboard
    </select>

    <select id="cntQABoard" resultType="int">
        select count(*)
        from qaboard
    </select>



    <!-- 댓글 저장 -->
    <insert id="insertComment" parameterType="curevengers.petit_cure.Dto.qacommentDTO">
        insert into qacomment (id, content, qaboard_no)
        values (#{id}, #{content}, #{qaboard_no})

    </insert>

    <insert id="insertFreeComment" parameterType="curevengers.petit_cure.Dto.freecommentDTO">
        insert into freecomment (id, content, freeboard_no)
        values (#{id}, #{content}, #{freeboard_no})

    </insert>

    <select id="selectQAComment" parameterType="String" resultType="curevengers.petit_cure.Dto.qacommentDTO">
        select *
        from qacomment
        where qaboard_no = #{no}
    </select>

    <select id="selectFreeComment" parameterType="String" resultType="curevengers.petit_cure.Dto.freecommentDTO">
        select *
        from freecomment
        where freeboard_no = #{no}
    </select>

    <!-- 신고하기 -->
    <update id="updateFreeReport" parameterType="int">
        update freeboard
        set report=report + 1
        where no = #{no}
    </update>

    <insert id="alertFreeBoard">
        insert into alertboard (alertno, no, alert_cate, id, comment, date, write_id)
        values (nextval(alert_no),#{no},#{alert_cate},#{id},#{comment},default,#{write_id})
    </insert>

    <update id="updateQAReport" parameterType="int">
        update qaboard
        set report=report + 1
        where no = #{no}
    </update>

    <insert id="alertQAboard">
        insert into alertboard (alertno, no, alert_cate, id, comment, write_id, date)
        values (nextval(alert_no),#{no},#{alert_cate},#{id},#{comment},#{write_id},default)
    </insert>

    <update id="updateDPReport" parameterType="int">
        update dpboard
        set report=report + 1
        where no = #{no}
    </update>

<!--    신고 내역 조회-->
    <select id="selectAlert">
        select write_id, count(*) as 신고횟수, alert_cate, no
        from alertboard
        group by alert_cate, no
        order by count(*) desc;
    </select>
    <!-- 게시글 신고 내역들 조회 -->
    <select id="selectAlertcomment">
        select *
        from alertboard
        where alert_cate=#{alert_cate} and no=#{no}
    </select>
    <!-- 게시글 신고글 삭제 -->
    <delete id="deleteAlert">
        delete from alertboard
        where alert_cate=#{alert_cate} and no=#{no}
    </delete>

<!--    자유게시판 글 수정 -->
    <update id="updateBoard">
        update freeboard set title=#{title}, content=#{content} where no=#{no}
    </update>

<!--    Q&A게시판 글 수정 -->
    <update id="updateQABoard">
        update qaboard set  title=#{title}, content=#{content} where no=#{no}
    </update>

<!--    자유게시판 글 삭제 -->
    <delete id="deleteBoard">
        delete from freeboard where no = #{no}
    </delete>
<!--    Q&A게시판 글 삭제 -->
    <delete id="deleteQABoard">
        delete from qaboard where no = #{no}
    </delete>
    <!-- 첨부파일 저장 -->
    <insert id="insertAttach" parameterType="curevengers.petit_cure.Dto.freeboard_attachDTO">
        insert into freeboard_attach (filename, freeboard_no)
        values (#{filename}, #{freeboard_no})
    </insert>

    <insert id="insertQAAttach" parameterType="curevengers.petit_cure.Dto.qaboard_attachDTO">
        insert into qaboard_attach (filename, qaboard_no)
        values (#{filename}, #{qaboard_no})
    </insert>

    <!-- 첨부파일 불러오기 -->
    <select id="selectAttach" parameterType="String" resultType="curevengers.petit_cure.Dto.freeboard_attachDTO">
        select filename, freeboard_no
        from freeboard_attach
        where freeboard_no=#{no}
    </select>

    <select id="selectQAAttach" parameterType="String" resultType="curevengers.petit_cure.Dto.qaboard_attachDTO">
        select filename, qaboard_no
        from qaboard_attach
        where qaboard_no=#{no}
    </select>

    <update id="updateComment">
        update freecomment set content = #{content} where no = #{no}
    </update>

    <update id="updateqaComment">
        update qacomment set content = #{content} where no = #{no}
    </update>

    <delete id="deleteComment">
        delete from freecomment where no = #{no}
    </delete>

    <delete id="deleteqaComment">
        delete from qacomment where no = #{no}
    </delete>

    <select id="visitList" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        SELECT *
        FROM freeboard
        ORDER BY visit DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <select id="dateList" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        SELECT *
        FROM freeboard
        ORDER BY date DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <select id="goodQAList" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        SELECT *
        FROM qaboard
        ORDER BY good DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <select id="dateQAList" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        SELECT *
        FROM qaboard
        ORDER BY date DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <select id="AgeQAList" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        select *
        from qaboard
        where `limit` = #{ageGroup} or #{ageGroup} = 'all'
        order by date
        limit #{pagedto.perPageNum} OFFSET #{pagedto.startNo}
    </select>



</mapper>