<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curevengers.petit_cure.Dao.UserMapper">

    <!--    // 자유게시판 글 저장-->
    <insert id="insertFreeBoard" parameterType="curevengers.petit_cure.Dto.freeBoardDTO" useGeneratedKeys="true" keyProperty="no">
        insert into freeboard (id, title, cate, content, password)
        values (#{id}, #{title}, #{cate}, #{content},#{password})
    </insert>
    <!--    // QA게시판 글 저장-->
    <insert id="insertQABoard" parameterType="curevengers.petit_cure.Dto.QABoardDTO" useGeneratedKeys="true" keyProperty="no">
        insert into qaboard (id, `limit`, title, cate, content)
        values (#{id}, #{limit}, #{title}, #{cate}, #{content})
    </insert>

    <!-- 게시판 글 목록-->
    <select id="findAllBoards" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        SELECT *
        FROM freeboard
        ORDER BY title DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>
    <select id="findQAAllBoards" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        SELECT *
        FROM qaboard
        ORDER BY title DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <!-- 자유게시판 검색기능-->
    <select id="findSearchBoards" parameterType="String" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        select no, title, visit, date
        from freeboard
        where title like CONCAT('%', #{title}, '%')
    </select>
    <!--     QA게시판 검색기능-->
    <select id="findSearchQABoards" parameterType="String" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        select no, title, good, date
        from qaboard
        where title like CONCAT('%', #{title}, '%')
    </select>

    <!-- 게시판 글 자세히보기-->
    <select id="selectOne" parameterType="String" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        select *
        from freeboard
        where no = #{no}
    </select>
    <select id="selectQAOne" parameterType="String" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        select *
        from qaboard
        where no = #{no}
    </select>

    <!-- 조회수 구현 -->
    <update id="updateVisit" parameterType="int">
        update freeboard
        set visit=visit + 1
        where no = #{no}
    </update>
    <!-- 좋아요 구현 -->
    <update id="updateGood" parameterType="int">
        update qaboard
        set good=good + 1
        where no = #{no}
    </update>
    <insert id="addLike">
        insert into qalike values (#{id}, #{qaboard_no}, default)
    </insert>


    <!-- 좋아요 취소 구현 -->
    <update id="updateGoodDown" parameterType="int">
        update qaboard
        set good=good - 1
        where no = #{no}
    </update>
    <delete id="deleteLike">
        delete from qalike where id=#{id} and qaboard_no=#{qaboard_no}
    </delete>

    <!-- 좋아요 조회 -->
    <select id="selectLike">
        select * from qalike where id=#{id} and qaboard_no=#{qaboard_no}
    </select>


    <select id="cntBoard" resultType="int">
        select count(*)
        from freeboard
    </select>

    <select id="cntQABoard" resultType="int">
        select count(*)
        from qaboard
    </select>



    <!-- 댓글 저장 -->
    <insert id="insertComment" parameterType="curevengers.petit_cure.Dto.qacommentDTO">
        insert into qacomment (id, content, qaboard_no)
        values (#{id}, #{content}, #{qaboard_no})

    </insert>

    <insert id="insertFreeComment" parameterType="curevengers.petit_cure.Dto.freecommentDTO">
        insert into freecomment (id, content, freeboard_no)
        values (#{id}, #{content}, #{freeboard_no})

    </insert>

    <select id="selectQAComment" parameterType="String" resultType="curevengers.petit_cure.Dto.qacommentDTO">
        select *
        from qacomment
        where qaboard_no = #{no}
    </select>

    <select id="selectFreeComment" parameterType="String" resultType="curevengers.petit_cure.Dto.freecommentDTO">
        select *
        from freecomment
        where freeboard_no = #{no}
    </select>

    <!-- 신고하기 -->
    <update id="updateReport" parameterType="int">
        update freeboard
        set report=report + 1
        where no = #{no}
    </update>

    <update id="updateQAReport" parameterType="int">
        update qaboard
        set report=report + 1
        where no = #{no}
    </update>

    <insert id="alertQAboard">
        insert into alertboard (alertno, no, alert_cate, id, comment, date)
        values (nextval(alert_no),#{no},#{alert_cate},#{id},#{comment},default)
    </insert>

    <update id="updateDPReport" parameterType="int">
        update dpboard
        set report=report + 1
        where no = #{no}
    </update>

<!--    자유게시판 글 수정 -->
    <update id="updateBoard">
        update freeboard set title=#{title}, cate=#{cate}, content=#{content}, visit=0, date=default, report=0 where no=#{no}
    </update>

<!--    Q&A게시판 글 수정 -->
    <update id="updateQABoard">
        update qaboard set  title=#{title}, cate=#{cate}, content=#{content}, visit=0, date=default, report=0 where no=#{no}
    </update>

<!--    자유게시판 글 삭제 -->
    <delete id="deleteBoard">
        delete from freeboard where no = #{no}
    </delete>
<!--    Q&A게시판 글 삭제 -->
    <delete id="deleteQABoard">
        delete from qaboard where id = #{id}
    </delete>
    <!-- 첨부파일 저장 -->
    <insert id="insertAttach" parameterType="curevengers.petit_cure.Dto.freeboard_attachDTO">
        insert into freeboard_attach (filename, freeboard_no)
        values (#{filename}, #{freeboard_no})
    </insert>

    <insert id="insertQAAttach" parameterType="curevengers.petit_cure.Dto.qaboard_attachDTO">
        insert into qaboard_attach (filename, qaboard_no)
        values (#{filename}, #{qaboard_no})
    </insert>

    <!-- 첨부파일 불러오기 -->
    <select id="selectAttach" parameterType="String" resultType="curevengers.petit_cure.Dto.freeboard_attachDTO">
        select filename, freeboard_no
        from freeboard_attach
        where freeboard_no=#{no}
    </select>

    <select id="selectQAAttach" parameterType="String" resultType="curevengers.petit_cure.Dto.qaboard_attachDTO">
        select filename, qaboard_no
        from qaboard_attach
        where qaboard_no=#{no}
    </select>

    <update id="updateComment">
        update freecomment set content = #{content} where no = #{no}
    </update>

    <update id="updateqaComment">
        update qacomment set content = #{content} where no = #{no}
    </update>

    <delete id="deleteComment">
        delete from freecomment where no = #{no}
    </delete>

    <delete id="deleteqaComment">
        delete from qacomment where no = #{no}
    </delete>

    <select id="visitList" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        SELECT *
        FROM freeboard
        ORDER BY visit DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <select id="dateList" resultType="curevengers.petit_cure.Dto.freeBoardDTO">
        SELECT *
        FROM freeboard
        ORDER BY date DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <select id="goodQAList" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        SELECT *
        FROM qaboard
        ORDER BY good DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <select id="dateQAList" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        SELECT *
        FROM qaboard
        ORDER BY date DESC
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <select id="AgeQAList" parameterType="String" resultType="curevengers.petit_cure.Dto.QABoardDTO">
        select *
        from qaboard
        where `limit` = #{ageGroup}
    </select>



</mapper>