<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curevengers.petit_cure.Dao.MemberMapper">

    <insert id="insertMember" parameterType="curevengers.petit_cure.Dto.memberDTO">
        insert into member values (#{id},#{pass},#{name},#{email},#{addr},#{gender},#{age},#{auth_name},#{phone_num})
    </insert>

    <insert id="insertAuth" parameterType="String">
        insert into tb_auths values (#{id});
    </insert>

    <select id="selectphonenum">
        select id from member where phone_num=#{phonenumber};
    </select>

    <select id="selectID">
        select id from member where id=#{id};
    </select>


    <select id="getMemberList">
        select * from member;
    </select>


    <select id="getMemberByID">
        select * from member where id=#{username};
    </select>

    <update id="updateMember">
        update member set pass=#{pass} where id=#{id};
    </update>

    <update id="updateBlacklist">
        update member set auth_name=#{auth_name} where id=#{id};
    </update>

    <insert id="addBlacklist">
        insert into blacklist values(#{id}, default, #{singoBoard}, #{comment}, #{singonum})
    </insert>

    <!-- 계정의 정지사유 검색 -->
    <select id="selectBlack">
        select * from blacklist where id=#{id}
    </select>

    <delete id="deleteMember">
        delete from member where id=#{id};
    </delete>

    <insert id="addWithdraw">
        insert into withdrawmem values (#{id},#{cause},default)
    </insert>

    <select id="countWithdraw">
        select cause, count(*) as num, date as recent_date
        from withdrawMem
        group by cause
    </select>

    <select id="selectWithdraw">
        select cause, count(*) as num, date as recent_date
        from withdrawMem
        group by cause
        order by count(*) desc
        LIMIT #{perPageNum} OFFSET #{startNo}
    </select>

    <select id="withdrawCause">
        select *
        from withdrawMem
        where cause=#{cause}
    </select>

    <delete id="deleteWithdraw">
        delete
        from withdrawMem
        where cause=#{cause}
    </delete>

    <select id="getMyActivity">
        (select id, title, date from qaboard where id = #{id} limit 10)
        union
        (select id, title, date from freeboard where id = #{id} limit 10)
        union
        (select id, content, date from freecomment where id = #{id} limit 10)
        union
        (select id, content, date from qacomment where id = #{id} limit 10)
        union
        (select id, title, date from dpboard where id = #{id} limit 10)
        union
        (select id, content , date from dpcomment where id = #{id} limit 10)
        order by date desc limit 10;
    </select>

    <select id="getMyActivityListFree">
        select id, title, date from freeboard where id = #{id} order by date desc limit 9
    </select>

    <select id="getMyActivityListQA">
        select id, title, date from qaboard where id = #{id} order by date desc limit 9
    </select>

    <select id="getMyActivityListDP">
        select id, title, date from dpboard where id = #{id} order by date desc limit 9
    </select>

    <select id="getFreeTopList">
        select title, content from freeboard order by visit desc limit 3
    </select>

    <select id="getQATopList">
        select title, content from qaboard order by good desc limit 3
    </select>

    <select id="getDPTopList">
        select title, content from dpboard order by good desc limit 3
    </select>
</mapper>