<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curevengers.petit_cure.Dao.MemberMapper">

    <insert id="insertMember" parameterType="curevengers.petit_cure.Dto.memberDTO">
        insert into member values (#{id},#{pass},#{name},#{email},#{addr},#{gender},#{age},default)
    </insert>

    <select id="selectID" resultType="curevengers.petit_cure.Dto.memberDTO">
        select id from member where id=#{id};
    </select>

    <select id="getMemberList()">
        select * from member;
    </select>

    <select id="getMemberByID">
        select * from member where id=#{id};
    </select>

    <update id="updateMember">
        update member set (pass=#{pass},name=#{name},email=#{email},addr=#{addr},gender=#{gender},age=#{age},grade=default) where id=#{id};
    </update>

    <delete id="deleteMember">
        delete member where id=#{id};
    </delete>

</mapper>