.request {
    padding: 10px 30px;
    margin-bottom: 20px;
    /* padding: 10px; */
    background: #fff;
    width: 700px;
    /* min-height: auto; */
    /* height: 10px; */
    /* box-sizing: border-box; */
    border: 5px solid #ddd;
    border-radius: 8px;
    text-align: center;
}
#aaa {
    /* background-color: #e24e4e; */
    margin-left: 500px; /* 전체 가운데 정령하는 곳 */
}
.btn {
    min-width: 110px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.125rem;
    font-family: 'NotoKR-Medium';
    padding: 0 20px;
    background-color: #cc4a4a;
}