* { padding: 0; margin: 0; }

#container {
    /* border: 0.5px salmon solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

#loginBox {
    /* border: 0.5px rgb(0, 0, 0) solid; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* border-style: inset; */
    /* background-color: #f09292; */
    margin-top: 100px;
    margin-bottom: 100px;
    width: 500px;
    max-height: 1000px;
    height: auto;
    text-align: center;
    background-color: #ffffff;
}
.input-form-box {
    border: 0px solid #ff0000;
    display: flex;
    margin-bottom: 20px;
    font-size: 25px;
}
.input-form-box > span {
    display: block;
    text-align: left;
    padding-top: 10px;
    min-width: 65px;
    width: 200px;
}
.button-login-box {
    margin: 10px 0;
}
#loginBoxTitle {
    color:#000000;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #270a09, #8ca6ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#inputBox {
    margin: 10px;

}

#inputBox button {
    padding: 3px 5px;
    font-size: larger;
    margin-top: 5px;
}

#inputBox img {
    margin-top: 5px;
    /*height: 60px;*/
}