@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&family=Yeon+Sung&display=swap');
.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.funnel-sans-uniquifier {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.yeon-sung-regular {
    font-family: "Yeon Sung", system-ui;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 1920px;
    height: 1080px;
    /* background-color: rgb(240, 240, 180); */
}

header > div {
    height: 120px;
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
}

nav li {
    /* display: inline; */
    float: left;
    margin-left: 100px;
}

nav li > a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

nav > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* background-color: #f59292; */
    background-color: #e24e4e;
    height: 65px;
}

li > a:hover {
    /* background-color: #ee8787; */
    background-color: #cc4a4a;
}

#nav > ul > li > ul {
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #f5a8a8;
    width: 300px;
    display: none;
}

#nav > ul > li > ul > li > a {
    padding: 10px;
    display: block;
    transition: all 1s;

}

#nav > ul > li > ul > li > a:hover {
    padding-left: 0px;
    width: 300px;
    background-color: #e48d8d;
}

#nav > ul > li > ul > li {
    margin-left: 0px;
    padding-left: 0px;
}