@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&family=Yeon+Sung&display=swap');
.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}
.funnel-sans-uniquifier {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.yeon-sung-regular {
    font-family: "Yeon Sung", system-ui;
    font-weight: 400;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}
body {
    width: 1920px;
    height: 1080px;
    /* background-color: rgb(240, 240, 180); */
}
header > div {
    height: 120px;
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    margin-bottom: 15px;
}

nav  li {
    display: inline-block;
    margin-left: 80px;
}
nav  li > a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: left;
    text-decoration: none;
    font-size: 25px;
}
nav > ul {
    display:flex;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* background-color: #f59292; */
    background-color: #e24e4e;
    height: 65px;
}
nav > ul > li {
    position:relative;

}
li > a:hover {
    /* background-color: #ee8787; */
    background-color: #cc4a4a;
    color: white;
}
#nav>ul>li>ul {
    list-style-type: none;
    position:absolute;
    left: 0;
    top: 50px;
    background-color: #f5a8a8;
    width: 300px;
    display:none;
    z-index: 2;
}
#nav>ul>li>ul>li>a{
    padding: 5px;
    display: flexbox;
    transition: all 0.75s;
    width: 300px;
}
#nav>ul>li>ul>li>a:hover {
    padding-left: 0px;
    width: 300px;
    background-color: #e48d8d;
    color: white;
}
#nav>ul>li>ul>li {
    margin-left: 0px;
    padding-left: 0px;
    display: inline;
    position:relative;
}
#section {
    height: 1200px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
#section>div>div{
    width: 1450px;
    border: 1px solid;
    height: 600px;
    margin-left: 235px;
    margin-top: 100px;
    /* float:left; */
    display: inline-block;
    /* height: fit-content; */
}
.carousel-caption > div{
    width: 550px; height: 150px; margin-left: 500px; border: 1px solid; background-color: aliceblue; color: black;
}
.maincon {
    background-color: #e24e4e; width: 1920px; height: 470px; margin-left: 0px;
    margin-top: 50px;
}
.maincon > #info {
    display: inline-block;
    margin-top: 25px;
    margin-left: 40px;
    width: 420px;
    height: 390px;
    border: 1px solid;
    background-color: rgb(255, 255, 255);
    border-style:ridge;
    border-radius: 7.5%;
}
footer {
    height: 330px;
    background-color: antiquewhite;
    bottom: 0px;

}
nav .pagination{
    background-color: white;
}

.btn-danger{
    margin-top: 20px;
}

