.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}
.funnel-sans-uniquifier {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: weight; */
    font-style: normal;
}
.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.yeon-sung-regular {
    font-family: "Yeon Sung", system-ui;
    font-weight: 400;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}
body {
    width: 1920px;
    height: 1080px;
    /* background-color: rgb(240, 240, 180); */
}
header > div {
    height: 120px;
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
}

nav  li {
    /* display: inline; */
    float: left;
    margin-left: 100px;
}
nav  li > a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}
nav > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* background-color: #f59292; */
    background-color: #e24e4e;
    height: 65px;
}

li > a:hover {
    /* background-color: #ee8787; */
    background-color: #cc4a4a;
}
#nav>ul>li>ul {
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #f5a8a8;
    width: 300px;
    display: none;
}
#nav>ul>li>ul>li>a{
    padding: 10px;
    display: block;
    transition: all 1s;

}
#nav>ul>li>ul>li>a:hover {
    padding-left: 0px;
    width: 300px;
    background-color: #e48d8d;
}
#nav>ul>li>ul>li {
    margin-left: 0px;
    padding-left: 0px;
}
.container {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.container>h2 {
    margin-right: 1100px;


}
section {
    float: left;
    width: 400px;
    height: 1000px;
    /* border: 1px solid; */
    margin-top: 50px;
    margin-left: 50px;
}
aside {
    display: inline-block;
    width: 50%;
    height: 100px;
    margin-top: 50px;
    text-align: left;
    border-bottom: 3px solid gray;
    /* border: 1px solid; */
}
aside>h2 {
    padding-top: 20px;
}
aside>h6 {
    padding-top: 3px;
}
.div {
    /* padding-bottom: 20px; */
    width: 950px;
    height: 700px;
    font-size: 20px;
    margin-left: 450px;
    padding-top: 50px;
    text-align: center;
}
input {
    /* text-align: center; */
    margin-left: 40px;
}
p {
    /* width: 100px; */
    width: 160px;
    display: inline-block;
    text-align: left;
    /* text-align: center; */
}

.button {
    font-size: 30px;
    width: 300px;
    height: 100px;
    background-color: #e24e4e;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    padding-top: 25px;
    margin-top: 10px;
    margin-left: 400px;
    border-radius: 100px;
}
.list-group {
    size: 100px;
    margin-top: 60px;
    /* size: 100px; */
    /* text-align: center; */
    /* margin-left: 20px; */
    /* max-width: 100%; */
    margin-right: 60px;
    height: 50%;
    border-radius: 40px;
}
.list-group-item {
    height: 600px;
    text-align: left;

}
