.card-write {
    height: auto;
    padding: 20px;
    width: 60%;
    margin-top: 100px;
    margin-left: 400px;
    /*border: 1px solid;*/
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
}
.card-write h2{
    margin-top: 30px;
}

.card-write input, textarea {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #e6e6e6;
}

.card-write .myinfo input[type="text"] {
    width: 25%;
    margin-left: 10px;
}

.card-write .myinfo input[type="password"] {
    width: 31%;
    margin-top: 20px;
    margin-left: 10px
}

.card-write .title-w input[type="text"] {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85.5%;
}

.card-write .msg textarea {
    min-width: 85.5%;
    max-width: 85.5%;
    min-height: 200px;
    max-height: 200px;
    box-shadow: inset 3px 3px 10px #e6e6e6;
    vertical-align: top;
}

.card-write input[type="file"] {
    border: none;
    box-shadow: none;
    padding: 10px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-write .form-select {
    width: 40%;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #e6e6e6;
    border: 1px solid #ccc;
    /* padding-bottom: 20px; */
}

.button {
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*margin: 10px 10px 20px 10px;*/
    /*padding: 10px;*/
    margin-left: 500px;
}

.card-write .msg .btn {
    background-color: tomato;
    padding: 10px;
    color: antiquewhite;
    border-radius: 10px;
}
.card-write .msg .btn:hover{
    background-color: darkorange;
}
.card-write .age {
    /*margin-left: 10px;*/
    width: 30%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #e6e6e6;
}
.card-write .admin{
    /*margin-left: 10px;*/
    width: 30%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #e6e6e6;
}
.card-write .visibility{
    /*margin-left: 10px;*/
    width: 30%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #e6e6e6;
}
.card-write .info-group{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
