<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/dpcheck.css}">
</head>

<body>
<div th:include="main::header"></div>
<div th:include="main::nav"></div>
<section style="margin-left: 100px; padding-top: 40px; margin-bottom: 40px">    <!--nav에서 top의 길이 조정-->
    <form action="/dpcheckresult" method="post">
        <div id="aaa">
            <label class="abc">1. 매사에 흥미가 없거나 즐거움을 느끼지 못함</label>
            <div class="request">
                <input type="radio" value="0" name="a">
                <label>전혀 아님&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="1" name="a">
                <label>며칠동안&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="2" name="a">
                <label>1주일 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="3" name="a">
                <label>한달 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <br>
            <label>2. 기분이 가라앉거나 우울하거나 희망이 없다고 느낌</label>
            <div class="request">
                <input type="radio" value="0" name="b">
                <label>전혀 아님&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="1" name="b">
                <label>며칠동안&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="2" name="b">
                <label>1주일 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="3" name="b">
                <label>한달 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <br>
            <label>3. 잠들기 어렵거나, 자주 깨어나거나, 너무 많이 잠</label>
            <div class="request">
                <input type="radio" value="0" name="c">
                <label>전혀 아님&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="1" name="c">
                <label>며칠동안&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="2" name="c">
                <label>1주일 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="3" name="c">
                <label>한달 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <br>
            <label>4. 피곤하거나 에너지가 거의 없음</label>
            <div class="request">
                <input type="radio" value="0" name="d">
                <label>전혀 아님&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="1" name="d">
                <label>며칠동안&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="2" name="d">
                <label>1주일 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="3" name="d">
                <label>한달 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <br>
            <label>5. 식욕이 없거나, 폭식을 함</label>
            <div class="request">
                <input type="radio" value="0" name="e">
                <label>전혀 아님&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="1" name="e">
                <label>며칠동안&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="2" name="e">
                <label>1주일 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="3" name="e">
                <label>한달 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <br>
            <label>6. 자신이 실패자라고 느끼거나 자신이나 가족을 실망시킴</label>
            <div class="request">
                <input type="radio" value="0" name="f">
                <label>전혀 아님&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="1" name="f">
                <label>며칠동안&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="2" name="f">
                <label>1주일 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="3" name="f">
                <label>한달 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <br>
            <label>7. 집중하기 어려움 (예: 신문 읽기, TV 시청)</label>
            <div class="request">
                <input type="radio" value="0" name="g">
                <label>전혀 아님&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="1" name="g">
                <label>며칠동안&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="2" name="g">
                <label>1주일 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="3" name="g">
                <label>한달 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <br>
            <label>8. 다른 사람이 알아챌 정도로 너무 느리게 움직이거나, 초조하고 안절부절못함</label>
            <div class="request">
                <input type="radio" value="0" name="h">
                <label>전혀 아님&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="1" name="h">
                <label>며칠동안&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="2" name="h">
                <label>1주일 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="3" name="h">
                <label>한달 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <br>
            <label>9. 스스로 해를 끼치거나 죽는 것을 생각함</label>
            <div class="request">
                <input type="radio" value="0" name="i">
                <label>전혀 아님&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="1" name="i">
                <label>며칠동안&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="2" name="i">
                <label>1주일 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" value="3" name="i">
                <label>한달 이상&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <input type="submit" value="제출하기" class="btn">
            <br>
        </div>
    </form>
</section>
<div th:include="main::footer"></div>
</body>
</html>
<script>
    const submenuList = document.querySelectorAll(".dropdown");

    submenuList.forEach(li => {
        li.addEventListener("mouseover", () => {
            li.querySelectorAll("ul").forEach((el) => {
                el.style.display = "block";
            })
        });
        li.addEventListener("mouseout", () => {
            li.querySelectorAll("ul").forEach((el) => {
                el.style.display = "none";
            })
        });
    });
</script>