<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f3750f8cf5" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&family=Yeon+Sung&display=swap');
    </style>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/MyPage.css">

</head>
<body>
<div th:include="main::header"></div>
<div th:include="main::nav"></div>
<section>

    <aside>
        <h1 style="font-size: 30px;"><strong>내 프로필</strong></h1>
        <hr>
        <div><i class="fa-solid fa-circle-user fa-10x" style="margin-top: 45px;"></i></div>
        <!--    <img src="/img/제하하하하.jfif" class="rounded-circle" style="width: 80%;">-->
        <!--    <a href="#"><span class="badge bg-secondary" style="margin-top: 20px;">수정</span></a>-->
        <div style="margin-top: 30px; margin-right: auto; margin-left: auto; font-size: 25px;">
            <i class="fa-solid fa-user">&nbsp;&nbsp;</i><span th:text="${dto.name}"></span><br>
            <!--      <i class="fa-solid fa-phone">&nbsp;&nbsp;</i><span th:text="${dto.phone_num}"></span><br>-->
            <i class="fa fa-birthday-cake">&nbsp;&nbsp;</i>2000.09.16<br>
            <i class="fa-solid fa-envelope">&nbsp;&nbsp;</i><span th:text="${dto.email}"></span><br>
            <i class="fa-solid fa-location-dot">&nbsp;&nbsp;</i><span th:text="${dto.addr}"></span><br>
            <i class="fa-regular fa-face-frown">&nbsp;&nbsp;</i>우울증_Check<br>
            <i class="fa-solid fa-notes-medical">&nbsp;&nbsp;</i>건강검진_Check<br>
            <!--      <i class="fa fa-birthday-cake">&nbsp;&nbsp;</i><br>-->
            <a href="/usermodify"><input type="button" value="회원수정" style="margin-top: 40px;"></a>
            <a href="/userdelete"><input type="button" value="회원탈퇴" style="margin-top: 15px;"></a>
        </div>
    </aside>


    <!--  <article class="main1">-->
    <!--    <h1 style="font-size: 30px;"><strong>내 활동</strong></h1>-->
    <!--    <hr>-->
    <!--    <div style="text-align: center; font-size: 25px; margin-top: 160px;">-->
    <!--      <a href="/moreresult" style="color: black"><i class="fa-solid fa-notes-medical">&nbsp;&nbsp;</i>건강검진 결과 리스트</a><br>-->
    <!--      <a href="/dpmoreresult" style="color: black"><i class="fa-regular fa-face-frown">&nbsp;&nbsp;</i>우울증검진 결과 리스트</a><br>-->
    <!--      <a href="/freeboard" style="color: black"><i class="fa-solid fa-tablet-screen-button">&nbsp;&nbsp;</i>자유게시판</a><br>-->
    <!--      <a href="/qanda" style="color: black"><i class="fa-solid fa-tablet-screen-button">&nbsp;&nbsp;</i>Q&A게시판</a><br>-->
    <!--      <a href="/depboard" style="color: black"><i class="fa-solid fa-tablet-screen-button">&nbsp;&nbsp;</i>우울증전용게시판</a>-->
    <!--    </div>-->
    <!--  </article>-->

    <section class="main2">
        <h1 style="font-size: 30px; margin-top: 16px;"><strong>내 활동 내역</strong></h1>
        <hr>
        <div>
            <button class="write-btn" onclick="mypagelist('freeboard')"><strong>자유게시판</strong></button>
            <button class="write-btn" onclick="mypagelist('qaboard')"><strong>Q&A게시판</strong></button>
            <button class="write-btn" onclick="mypagelist('dpboard')"><strong>우울증게시판</strong></button>
        </div>
        <table style="margin-left: auto; margin-right: auto; margin-top: 5px" id="table">
            <tr>
                <td>아이디</td>
                <td>제목</td>
                <td>날짜</td>
            </tr>
            <tr>
                <td class="boardid"></td>
                <td class="boardtitle"></td>
                <td class="boarddate"></td>
            </tr>
            <tr>
                <td class="boardid"></td>
                <td class="boardtitle"></td>
                <td class="boarddate"></td>
            </tr>
            <tr>
                <td class="boardid"></td>
                <td class="boardtitle"></td>
                <td class="boarddate"></td>
            </tr>
            <tr>
                <td class="boardid"></td>
                <td class="boardtitle"></td>
                <td class="boarddate"></td>
            </tr>
            <tr>
                <td class="boardid"></td>
                <td class="boardtitle"></td>
                <td class="boarddate"></td>
            </tr>
            <tr>
                <td class="boardid"></td>
                <td class="boardtitle"></td>
                <td class="boarddate"></td>
            </tr>
            <tr>
                <td class="boardid"></td>
                <td class="boardtitle"></td>
                <td class="boarddate"></td>
            </tr>
            <tr>
                <td class="boardid"></td>
                <td class="boardtitle"></td>
                <td class="boarddate"></td>
            </tr>
            <tr>
                <td class="boardid"></td>
                <td class="boardtitle"></td>
                <td class="boarddate"></td>
            </tr>
        </table>
    </section>

</section>
<div th:include="main::footer"></div>
</body>


</html>


<script>
    function test() {
        confirm("수정이 완료되었습니다.")
    }

    const submenuList = document.querySelectorAll(".dropdown");
    submenuList.forEach(li => {
        li.addEventListener("mouseover", () => {
            li.querySelectorAll("ul").forEach((el) => {
                el.style.display = "block";
            })
        });
        li.addEventListener("mouseout", () => {
            li.querySelectorAll("ul").forEach((el) => {
                el.style.display = "none";
            })
        });
    });
</script>
<script>
    function mypagelist(cate) {
        $.ajax({
            type: 'get',
            url: "mypagelist",
            data: {cate: cate},
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    document.getElementsByClassName("boardid")[i].innerText = data[i].id;
                    document.getElementsByClassName("boardtitle")[i].innerText = data[i].title;
                    document.getElementsByClassName("boarddate")[i].innerText = data[i].date;

                }
            }
        })
    }
</script>


