<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f3750f8cf5" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&family=Yeon+Sung&display=swap');
    </style>
    <link rel="stylesheet" href="/css/main.css">
<!--    <link rel="stylesheet" href="/css/freeBoard.css">-->
    <link rel="stylesheet" href="/css/MyPage.css">
<style>
    th, td {
        padding: 0px;
        text-align: center;
        /*border: 1px solid #2c3e50;*/
        border-radius: 10px;
    }
</style>
</head>
<body>
<div th:include="main::header"></div>
<div th:include="main::nav"></div>
<section style="min-height: 752px; height: auto; align-content: center;">
    <div style="position:fixed; top: 300px; right: -5px;z-index: 20;" class="mainnav">
        <div class="sticky" style="  border: 0; width: 150px;  margin-top: 200px">
            <div class="icon-menu">
                <a href="https://www.e-gen.or.kr/egen/holiday_medical.do" target="_blank">
                    <ul>
                        <i class="fa-solid fa-hospital"></i>
                        <span style="margin-left: 10px; font-size: 2rem">병의원 검색</span>
                    </ul>
                </a>
                <a href="https://www.health.kr/searchDrug/search_detail.asp" target="_blank">
                    <ul>
                        <i class="fa-solid fa-pills"></i>
                        <span style="margin-left: 20px; font-size: 2rem">약 정보보기</span>
                    </ul>
                </a>
                <a href="https://www.e-health.go.kr/gh/heSrvc/selectBbsDtlInfo.do?bbsId=U00322&bbsSeCd=Z1&menuId=200035" target="_blank">
                    <ul>
                        <i class="fa-solid fa-heart-pulse"></i>
                        <span style="margin-left: 20px; font-size: 2rem">건강증진</span>
                    </ul>
                </a>
                <a href="/notice">
                    <ul style="cursor: pointer">
                        <i class="fa-solid fa-bullhorn"></i>
                        <span style="margin-left: 20px; font-size: 2rem;">공지사항</span>
                    </ul>
                </a>
            </div>
        </div>

    </div>

    <aside class="jua-regular">
        <h1 style="font-size: 30px;"><strong>내 프로필</strong></h1>
        <hr>
        <div><i class="fa-solid fa-circle-user fa-10x" style="margin-top: 45px;"></i></div>
        <!--    <img src="/img/제하하하하.jfif" class="rounded-circle" style="width: 80%;">-->
        <!--    <a href="#"><span class="badge bg-secondary" style="margin-top: 20px;">수정</span></a>-->
        <div style="margin-top: 30px; margin-right: auto; margin-left: auto; font-size: 25px;">
            <i class="fa-solid fa-user">&nbsp;&nbsp;</i><span th:text="${dto.name}"></span><br>
            <!--      <i class="fa-solid fa-phone">&nbsp;&nbsp;</i><span th:text="${dto.phone_num}"></span><br>-->
            <i class="fa-solid fa-envelope">&nbsp;&nbsp;</i><span th:text="${dto.email}"></span><br>
            <span th:if="${dto.addr}!=null"><i class="fa-solid fa-location-dot"></i><span th:text="${dto.addr}"></span></span><br>
            <a href="dpmoreresult" style="color: black"><i class="fa-regular fa-face-frown">&nbsp;&nbsp;</i>우울증_Check<br></a>
            <a href="moreresult" style="color: black"><i class="fa-solid fa-notes-medical">&nbsp;&nbsp;</i>건강검진_Check<br></a>
            <!--      <i class="fa fa-birthday-cake">&nbsp;&nbsp;</i><br>-->
            <a href="/usermodify"><input type="button" value="회원수정" style="margin-top: 40px;"></a>
            <a href="/userdelete"><input type="button" value="회원탈퇴" style="margin-top: 15px;"></a>
        </div>
    </aside>

    <section class="main2" style="font-family: TheJamsil5Bold">
        <h1 style="font-size: 30px; margin-top: 16px;"><strong>내 활동 내역</strong></h1>
        <hr>
        <div>
            <button class="write-btn" onclick="mypagelist('freeboard')"><strong>자유게시판</strong></button>
            <button class="write-btn" onclick="mypagelist('qaboard')"><strong>Q&A게시판</strong></button>
            <button class="write-btn" onclick="mypagelist('dpboard')"><strong>우울증게시판</strong></button>
        </div>
        <table style="margin-left: auto; margin-right: auto; margin-top: 5px;" id="table">
            <thead style="font-size: 30px">
                <tr>
                    <th>게시판</th>
                    <th>아이디</th>
                    <th>제목</th>
                    <th>날짜</th>
                </tr>
            </thead>
            <tbody id="Mytbody" style="font-size: 20px">
                <tr>
                    <th colspan="4">
                        활동내역 조회를 원하시는 게시판 버튼을 클릭해주세요~!
                    </th>
                </tr>
            </tbody>
        </table>
    </section>

</section>
<div th:include="main::footer"></div>
</body>


</html>


<script>
    function test() {
        confirm("수정이 완료되었습니다.")
    }

    const submenuList = document.querySelectorAll(".dropdown");
    submenuList.forEach(li => {
        li.addEventListener("mouseover", () => {
            li.querySelectorAll("ul").forEach((el) => {
                el.style.display = "block";
            })
        });
        li.addEventListener("mouseout", () => {
            li.querySelectorAll("ul").forEach((el) => {
                el.style.display = "none";
            })
        });
    });
</script>
<script>
    function mypagelist(board) {
        let cate = null;
        let search;
        let tbody = document.getElementById('Mytbody');
        while(tbody.rows.length > 0){
            tbody.deleteRow(0)
        }
        $.ajax({
            type: 'get',
            url: "mypagelist",
            data: {board: board},
            success: function (data) {
                console.log(data +" / 데이터의 출력 확인")
                console.log(data.length+" / 가져온 데이터의 length값 확인")
                cate = data[0].board;
                if (cate == 'freeboard') {
                    cate = '자유게시판'
                    search = '/view';
                } else if (cate == 'qaboard') {
                    cate = 'Q&A게시판'
                    search = '/qaview';
                } else if (cate == 'dpboard') {
                    cate = '우울증게시판'
                    search = '/dpview';
                }
                for (let i = 0; i < data.length; i++) {
                    let no = data[i].no;
                    let tr = document.createElement('tr');
                    tr.setAttribute('height','20px');
                    // 카테고리 저장
                    let td1 = document.createElement('td');
                    td1.setAttribute('width','150px');
                    td1.textContent = cate;
                    // 작성 아이디 저장
                    let td2 = document.createElement('td');
                    td2.setAttribute('width','100px');
                    td2.textContent = data[i].id;
                    // 작성 제목 저장 + 연결 링크 저장
                    let td3 = document.createElement('td');
                    let title;
                    if (data[i].title.length > 9) {
                        title = data[i].title.substring(0,9) + "...";
                    } else {
                        title = data[i].title;
                    }
                    td3.setAttribute('width','200px');
                    let a = document.createElement('a');
                    let span = document.createElement('span');
                    span.textContent = title;
                    a.setAttribute('href',search+'?no='+no);
                    a.appendChild(span);
                    td3.appendChild(a);

                    let td4 = document.createElement('td');
                    td4.setAttribute('width','300px')
                    td4.textContent = data[i].date;

                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);
                    tr.appendChild(td4);

                    tbody.appendChild(tr);
                }
            },error(){
                let tr = document.createElement('tr');
                tr.setAttribute('height','20px');
                let td1 = document.createElement('td');
                td1.setAttribute('colspan','4');
                td1.setAttribute('font-weight','bolder');
                td1.setAttribute('width','750px');
                td1.textContent = "관련 활동 내역이 없습니다.";

                tr.appendChild(td1);
                tbody.appendChild(tr);
            }
        })
    }
</script>
<script>
    function selectMonth(){
        let today = new Date();
        const month = (today.getMonth()+1).toString().padStart(2,'0');
        window.open("https://www.e-health.go.kr/gh/heNws/selectClndrBbsInfo.do?menuId=200051&bbsId=U00194&bbsSeCd=&bbsInfmMm="+month);
        // location.href = "https://www.e-health.go.kr/gh/heNws/selectClndrBbsInfo.do?menuId=200051&bbsId=U00194&bbsSeCd=&bbsInfmMm="+$[month];
    }
</script>

